<?xml version="1.0" encoding="utf-8"?>
<manifest package="no.glv.paco"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@drawable/student"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="no.glv.paco.AppActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="no.glv.paco.StudentViewActivity"
            android:parentActivityName="no.glv.paco.GroupViewActivity">
        </activity>
        <activity
            android:name="no.glv.paco.NewTaskActivity"
            android:label="@string/title_activity_new_task"
            android:parentActivityName="no.glv.paco.AppActivity">
        </activity>
        <activity
            android:name="no.glv.paco.TaskViewActivity"
            android:label="@string/title_activity_task"
            android:parentActivityName="no.glv.paco.AppActivity"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <activity
            android:name="no.glv.paco.TaskManagerActivity"
            android:label="@string/title_activity_task"
            android:parentActivityName="no.glv.paco.AppActivity">
        </activity>
        <activity
            android:name="no.glv.paco.GroupViewActivity"
            android:label="@string/activity.stdlist.title"
            android:parentActivityName="no.glv.paco.AppActivity">
        </activity>
        <activity
            android:name="no.glv.paco.ActionSpinner"
            android:label="@string/title_activity_main2"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
    </application>

</manifest>
